# client + server url
CLIENT_URL=
SERVER_URL=

# server port
PORT=

# api keys
OPENAI_API_KEY=
GROQ_API_KEY=
MONGODB_URI=

# email (smtp)
SMTP_HOST=""
SMTP_PORT=
SMTP_USER=""
SMTP_PASS=""

# session secret
SESSION_SECRET=""
