
# client + server url
CLIENT_URL=http://your-client-url
SERVER_URL=http://your-server-url

# server port
PORT=your-server-port

# api keys
# OPENAI_API_KEY is not used in this project
OPENAI_API_KEY=     
GROQ_API_KEY=
MONGODB_URI=

# email (smtp)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="user@gmail.com"
SMTP_PASS="user_password"

# session secret
SESSION_SECRET=""
