
# client + server url
CLIENT_URL=http://your-client-url
SERVER_URL=http://your-server-url

# server port
PORT=your-server-port

# api keys

GROQ_API_KEY=

# database
MONGODB_URI=

# OTP twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=


# session secret
SESSION_SECRET=""
