.user-msg {
  background-color: #212121;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 1rem;
  border-radius: 12px;
  max-width: min(70ch, 80%);
  word-break: break-word;
  white-space: pre-wrap;
  margin-left: auto;
  justify-content: flex-end;
}
