/* .chat-window {
  overflow-y: scroll;
} */
.user-msg,
.assistant-msg {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 1rem;
  border-radius: 12px;
  max-width: min(70ch, 80%);
  word-break: break-word;
  white-space: pre-wrap;
}

.user-msg {
  margin-left: auto;
  justify-content: flex-end;
}

.assistant-msg {
  margin-right: auto;
  justify-content: flex-start;
}
