.chat {
  cursor: pointer;
}
.chat:hover {
  background-color: #212121;
  border-radius: 14px;
}
.chat-path {
  background-color: #212121;
  border-radius: 14px;
  color: #51f3519d;
}
.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 200%;
  right: 0;
  left: 50%;
  transform: translate(-50%);
}
