/* .chat-window {
  overflow-y: scroll;
} */
.user-msg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 80%;
  flex-wrap: wrap;
  width: 200px;
  padding: 0.5rem;
  border-radius: 5px;
}
.assistant-msg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 80%;
  flex-wrap: wrap;
  width: 50vw;
  padding: 1rem;
  border-radius: 14px;
}
